#Icon:hover{
    width: 30px;
    height: 30px;
    background-color: var(--BlueLZ);
    background-image: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--Dark60);
}
.LinkP > .LinkColum > a:hover{
    background-color: var(--BlueLZ);
    color: var(--Dark60);
    border-color: var(--Dark60);
}

.Button:hover{
    border: 1px solid var(--Dark60);
}
.Button:hover > .IconButton{
    background-color: var(--BlueLZ);
    color: var(--Dark60);
}
.Button:hover > .ButtonText{
    background-color: var(--Dark10);
    color: var(--Dark60);
}
.Button:active{
    border: 1px solid var(--BlueLZ);
}
.Button:active > .IconButton{
    background-color: var(--Dark60);
    color: var(--BlueLZ);
}
.Button:active > .ButtonText{
    background-color: var(--Dark50);
    color: var(--Dark10);
}
.Blocked:hover{
    border: 1px solid var(--Dark30);
}
.Blocked:hover > .IconButton{
    background-color: var(--Dark10);
    color: var(--Dark30);
}
.Blocked:hover > .ButtonText{
    background-color: var(--Dark20);
    color: var(--Dark30);
}
.Blocked:active{
    border: 1px solid var(--Dark50);
}
.Blocked:active > .IconButton{
    color: var(--Dark50);
}
.Blocked:active > .ButtonText{
    color: var(--Dark50);
}
/* Animação */
@keyframes RobotRunner {
    to{
        left: 100%;
    }
    from{
        left: -100%;
    }
}
.AnimationSpanDroids > img{
    animation: RobotRunner 6s infinite linear;
}
.ImgDroids:hover{
    cursor: pointer;
    background-color: var(--Dark40);
    box-shadow: var(--Dark60) 0px 0px 10px 0px, var(--Dark60) 0px 0px 0px 1px;
}

.DroidStop:hover > img{
    transform: translateY(3px);
}
.DroidForce:hover > img{
    width: 80%;
    height: 80%;
}
.DroidRun:hover > img{
    transform: translateX(-130%);
}
.DroidJump:hover > img{
    transform: translateY(-6px);
}
.ButtonX:hover{
    border-radius: 50% 0px 50% 0px;
    cursor: pointer;
    border-color: var(--Dark60);
    color: var(--BlueLZ);
}
@keyframes LinaFot {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 200px);
    }
    100% {
        left: 0;
    }
}
#Moldura{
    animation: LinaFot 20s infinite ease-in-out;
}
.外部リンク:hover::after{
    content: " 🔗";
}