*{
    margin: 0;
    padding: 0;
}
:root{
    --Dark10:#121214;
    --Dark20:#17171A;
    --Dark30:#202024;
    --Dark40:#252529;
    --Dark50:#AFABB6;
    --Dark60:#FFFFFF;
    --BlueLZ:#0078D7;
    --TamanhoYTotal: 100%;
}
@font-face{
    font-family: "SpaceAge";
    src: url("Fontes/space_age/space\ age.ttf");
}
@font-face{
    font-family: "OpenSans";
    src: url("Fontes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}
video, img{
    width: 100px;
}
html, body{
    background-color: var(--Dark10);
    height: 100%;
    width: 100%;
    color: var(--Dark60);
}
header{
    font-family: "SpaceAge";
    background-color: var(--Dark20);
    width: 100%;
    height: calc(var(--TamanhoYTotal) - 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Mark{
    background-color: transparent;
    color: var(--BlueLZ);
}
#Icon{
    width: 60px;
    height: 30px;
    margin: 10px;
    background-image: url("Imagens/Logotipo-removebg-preview.png");
    background-size: cover;
    background-position: center bottom;
    transition: .2s;
    font-size: 1.5em;
    display: grid;
    place-content: center;
}
main{
    width: 100%;
    height: calc(var(--TamanhoYTotal) - 10%);
    display: flex;
    flex-direction: row;
    font-family: "OpenSans";
}
.Panel{
    position: relative;
}
.VideoP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.VideoP > p{
    margin: 16px;
}
.Panel > video{
    width: calc(var(--TamanhoYTotal) - 5%);
    border: 3px solid var(--BlueLZ);
    border-radius: 6px;
    cursor: pointer;
}
.ButtonP{
    display: flex;
}
.Button{
    width: 150px;
    height: 100px;
    background-color: var(--Dark30);
    border: 1px solid var(--BlueLZ);
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.IconButton{
    color: var(--BlueLZ);
    height: 80%;
    font-size: 3em;
    display: grid;
    place-content: center;
}
.ButtonText{
    background-color: var(--Dark20);
    color: var(--BlueLZ);
    text-align: center;
    height: 20%;
    font-size: .6em;
    display: grid;
    place-content: center;
}
#Bugdroid{
    position: absolute;
    bottom: 2%;
    left: 15%;
    width: 250px;
}
.LinkP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--Dark30);
    padding: 10px;
}
.LinkColum{
    width: 100%;
}
.LinkP > .LinkColum > img{
    margin: 16px;
}
.LinkP > .LinkColum > a{
    background-color: var(--Dark20);
    width: 100%;
    height: calc(var(--TamanhoYTotal) - 85%);
    border: 1px solid var(--BlueLZ);
    display: grid;
    place-items: center;
    margin-top: 12px;
    text-decoration: none;
    transition: .2s;
}
.LinkActive{
    border: 1px solid var(--Dark60);
    background-color: var(--BlueLZ);
    color: var(--Dark60);
}
#LinkClosed{
    background-color: var(--BlueLZ);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--Dark60);
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 12px;
    cursor: pointer;
}
/* Pages dos Button História_Android */
#História_Android{
    top: 0%;
    position: absolute;
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--Dark10);
}
.ColumC{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CC1{
    flex: auto;
}
.CC1 > article{
    width: 100%;
    height: 100%;
    background-color: var(--Dark20);
    overflow: scroll;
    border-radius: 6px;
}
.AnimationSpanDroids{
    overflow: hidden;
    display: block;
    background-color: var(--Dark30);
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 10px 0px;
}
.AnimationSpanDroids > img{
    position: absolute;
    height: 100%;
    width: auto;
}
#IrinaBlok{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
    margin: 5px 0px;
    background-color: var(--Dark30);
    display: flex;
    align-items: center;
}
#Moldura{
    position: absolute;
    display: block;
    background-color: var(--Dark40);
    background-image: url(Imagens/Irina_Blok.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 180px;
    height: 120px;
    border: 8px solid var(--Dark50);
    border-radius: 4px;
}
#Artigo > h1, #Artigo > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-family: "SpaceAge";
    border: 1px solid var(--Dark50);
    border-radius: 6px 6px 0px 0px;
    color: var(--BlueLZ);
}
#Artigo > h1{
    font-size: 1.5em;
}
#Artigo > h2{
    font-size: 1.2em;
}
#Artigo > p{
    font-family: "OpenSans";
    font-size: 1em;
    text-align: left;
    padding: 20px;
    text-indent: 30px;
}
.ButtonX{
    width: 50px;
    height: 50px;
    border: 1px solid var(--BlueLZ);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.ImgDroids{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: var(--BlueLZ);
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--Dark60);
    transition: .5s;
    overflow: hidden;
}
.ImgDroids > img{
    width: auto;
    height: 80%;
    transition: .5s;
}
.外部リンク{
    color: var(--BlueLZ);
    text-decoration: none;
    transition: .2s;
}
/* Pages dos Button História_Android */
#QuestionPlus{
    top: 0%;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--Dark10);
}
.CQ1{
    width: 150px;
    height: 100%;
    background-color: var(--Dark30);
    display: flex;
    align-items: center;
    justify-content: center;
}
.CQ2{
    background-color: var(--Dark10);
    flex: auto;
    display: flex;
    flex-direction: column;
}
.CQ2 > h1{
    background-color: var(--Dark20);
    width: 100%;
    height: 2em;
    font-family: "SpaceAge";
    display: flex;
    justify-content: center;
    align-items: center;
}
.CQ2 > h3{
    background-color: var(--Dark20);
    width: 100%;
    height: 2em;
    font-family: "SpaceAge";
    display: flex;
    justify-content: center;
    align-items: center;
}
.CQ2 > p{
    margin: 10px;
    font-family: "OpenSans";
}
#ReLinksFoods{
    background-color: var(--Dark10);
    flex: auto;
    display: flex;
    flex-direction: column;
}
#ReLinksFoods > span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.LiFood{
    width: 100px;
    height: 100px;
    border: 1px solid var(--BlueLZ);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: .3s;
}
.LiFood:hover{
    border-radius: 50%;
    border-color: var(--Dark60);
    color: var(--BlueLZ);
}